@font-face {
    font-family: "GT Walsheim Pro Medium Regular";
    src: url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.woff2")format("woff2"),
}

@font-face {
    font-family: "GT Walsheim Pro Regular";
    src: local("GT Walsheim Pro Regular"),url("https://db.onlinewebfonts.com/t/a517c7e0daa786f2dae4afeb9ef0ac4f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a517c7e0daa786f2dae4afeb9ef0ac4f.woff2")format("woff2"),
}


:root{
    --main-bg:#2e3440;
    --primary: #e5e9f0;
    --secondary:rgba(235, 203, 139, .95);
    --tertiary: #c1c2c4;
    --flow-space: 1.77rem;
    --glare:#39404d;

}

@font-face {
    font-family: epilogue;
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/epilogue/v7/O4ZMFGj5hxF0EhjimngomvnCCtqb30OXmTTiDA.ttf)format("truetype");
}

.matter{
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --dot-shadow-size: 0.75rem;
    --flow-space: 0.75rem;
    margin: 0;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: var(--main-bg);

    color: var(--primary);
    font-size: 21px;
    font-family: "GT Walsheim Pro Medium Regular";
}

.flat .post {
    margin-bottom: 2rem;
}

.post-header {
    display: flex;
}

.post-header .meta .date {
    margin-right: 1rem;
    width: auto;
    text-align: center;
}

.post-header .meta .date .day {
    font-family: "Roboto Slab Regular", serif;
    font-weight: 700;
    line-height: 70%;
    font-size: 3em;
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 1.05rem;
    color: var(--secondary);
}

.post-header .meta .date .rest {
    display: block;
    font-size: 0.80em;
}


.markdown {
    overflow: hidden;
}

.post .title.small {
    margin: 0;
}


.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.list .posts .post-header .meta {
    margin-bottom: 20;
}


.description {
    color: var(--tertiary);
    margin: 0;
    font-size:medium;
}


::selection {
    color: var(--main-bg);
    background-color: var(--secondary);
}

::-webkit-scrollbar {
    width: 0.35rem;
}


::-webkit-scrollbar-thumb {
    background-color: #787f90;
    border-radius: 0.125rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.125rem;
}

.site-wrap {
    overflow-x: hidden;
    position: relative;
}

.site-foot {
    border-top: 0.25rem dotted #88c0d0;
    font-size: smaller;
    padding: 0 1.33rem;
    text-align: right;
    
}

#index-page{
    border: none;
}

.site-head {
    padding: 1.77rem 0;
    border-bottom: 0.25rem dotted #88c0d0;

}

.header_wrapper{
    position: relative;
    max-width: 70rem;
    padding: 0 1.33rem;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: 70rem;
    padding: 2.66rem 1.33rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


content{
    text-align: justify;
}


.site-head__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bg-light-glare {
    background: #39404d;
}

.bg-light-glare-blog {
    background: #39404d;
    padding: 1rem;
    border-radius: 0.5rem;
}

.tag-button {
    display: inline-block;
    padding: 0.1rem 0.3rem; 
    font-size: 1rem; 
    text-align: center;
    color: rgba(235,203,139,.95);
    text-decoration: none;
    background-color: #404857;
    border-radius: 0.5rem; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tag-button:hover {
    background-color: #949494;
    color: #ffffff;
  }


.landscape{
    border: 0.2rem solid  #ccc;
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
    float:inline-end;
    margin: 1rem 2rem 0rem 2rem;
}

.cropped-image-container {
    margin-block-start: 1rem;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 25%;
}

.cropped-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cropped-image img {
    position: absolute;
    /* Position absolute for precise positioning */
    top: 0;
    /* Position at the top */
    left: 0;
    /* Position at the left */
    width: 100%;
    /* Make the image cover the entire width */
    height: 100%;
    /* Make the image cover the entire height (equal to the container's height) */
    object-fit: cover;
    /* Crop the image to cover the figure element */
}

.page-header {
    padding: 3.15rem 0;
}

.bg-tertiary {
    background: #39404d;
}

.bg-tertiary h2 {
    color: #ebcb8b;

}

.dot-shadow {
    --dot-shadow-size: 0.75rem;
    position: relative;
}

.panel {
    margin: 2.36rem 0;
}

@media (min-width: 37em) {
    .panel {
	margin: 3.15rem 0;
    }
}

.dot-shadow:before {
    content: '';
    display: block;
    width: calc(100% + calc(var(--dot-shadow-size) * 2));
    opacity: 60%;
    height: calc(100% + calc(var(--dot-shadow-size) * 2));
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNiA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgZmlsbD0iI2NhYzZiOCIgY3g9IjEiIGN5PSI1IiByPSIxIi8+PGNpcmNsZSBmaWxsPSIjY2FjNmI4IiBjeD0iNCIgY3k9IjIiIHI9IjEiLz48L3N2Zz4=);
    position: absolute;
    top: calc(var(--dot-shadow-size) * -1);
    left: calc(var(--dot-shadow-size) * -1);
    z-index: -1;
}

.radius,
.button,
.dot-shadow:before {
    border-radius: .25rem;
}

.site-head__brand {
    flex-shrink: 0;
    margin-inline-end: 1.77rem;
}

.font-sans {
    font-family: epilogue, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

.nav {
    line-height: 1;
    font-weight: 900;
    margin-top: -1rem;
    margin-inline-start: -1rem;
}

.site-head__nav {
    padding: .75rem 0;
}

.flow-space-700 {
    --flow-space: 2.36rem;
}

.page-content {
    line-height: 1.7;
}

.site-head__brand svg {
    max-width: 6rem;
}


.nav__list {
    display: flex;
    flex-wrap: wrap;
}

ul[class] {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
    margin: 0;
    font-weight: 900;
    font-family: epilogue, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    line-height: 1.1;
}

h3 {
    font-family: epilogue, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

.headline {
    font-size: 2.36rem;
    max-width: 18ch;
}

@media (min-width: 1100px) {
    .headline {
	    font-size: 3.15rem;
    }
}

.headline:after {
    content: '.';
    color: #ebcb8b;
}

.measure-long {
    max-width: 65ch;
}

.flow>*+* {
    margin-top: var(--flow-space, 1.77rem);
}

h2 {
    margin: 0;
    font-weight: 900;
    font-family: epilogue, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    line-height: 1.1;
}


.page-content>* {
    max-width: 65ch;
}

.page-content h2 {
    font-size: 2.36rem;
    --flow-space: 3.15rem;
}

.page-content ::-webkit-scrollbar-thumb {
    background-color: #5e81ac;
}

.page-content ::-webkit-scrollbar-track {
    border: 1px solid #5e81ac;
}

.page-content h2+* {
    --flow-space: 0.75rem;
}

.nav__list>* {
    padding-top: 1rem;
    padding-inline-start: 1rem;
}

/* Links masti*/
.nav a {

    display: block;
    position: relative;
}

a {
    text-decoration: none;
    color: #88c0d0;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/********************/



.nav a[data-state="active"]::before,
.nav a[aria-current="page"]::before {
    display: block;
    width: 100%;
    height: .25rem;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: .25rem;
    background: #bf616a;
}


/*Projects*/

.grid-list{
    justify-items: center;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 1.5rem;
}

h5{
    margin: 0;
    font-size: 1.25rem;
    font-family: epilogue;
}

code{
    border-radius: 0.3rem;
    border-color: #ccc;
    background-color:#bf616a;
}

.highlight-wrapper{
    position: relative;
}

.copy-code-button{
    position: absolute;
    right: 0;
    margin: 0.5rem;
}


h4{
    margin: 0;
}

.card{
    overflow: hidden;
    background-color: var(--glare);
    border-radius: 0.6rem;
    max-width: 24rem;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.card section {
    padding: 1.25rem;
}

.card section p{
    margin: 0;
}

.tags{
    padding-top: 1rem;
}

img{
    max-width: 100%;
}


.card:hover{
    transform: scale(105%);
}
