<article class="card">
    <a href="{{ .context.RelPermalink }}" class="no-underline">

        {{ $img := .img }}
        
        <img src="{{ $img }}" alt="{{ .context.Title }}">

        <section class="card-s">
                <h5>{{ .context.Title }}</h5>
                <p class="description">{{ .context.Description }}</p>
                

                <div class="tags">
                    {{ range .context.Params.tags }}
                    <a class="tag-button">{{ . }}</a>
                    {{ end }}
                </div>
                
        </section>
    </a>
</article>