<article class="card">
    <a href="{{ .context.RelPermalink }}" class="no-underline">

        {{ $img := .context.Params.img }}
        
        <img src="{{.path}}/{{ $img }}" alt="{{ .context.Title }}">

        <section class="card-s">
                <h5>{{ .context.Title }}</h5>
                <p class="description">{{ .context.Description }}</p>
                

                <div class="tags">
                    {{ range .context.Params.tags }}
                    <div class="tag-button">{{ . }}</div>
                    {{ end }}
                </div>

                {{ $comp := .context.Params.read }}
                {{ with $comp }}
                <div class="meter"><span style="width: {{ . }}%"></span></div>
                {{ end }}
                
        </section>
    </a>
</article>