<head>
    <link rel="icon" id="favicon" type="image/png" sizes="32x32" href="/loonix.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" id="favicon2" type="image/png" sizes="16x16" href="/loonix.svg">
    <script>
        let faviconElem = document.getElementById('favicon');
        faviconElem.setAttribute('href',`./loonix${Math.floor(6*Math.random())+1}.svg`);
        let faviconElem2 = document.getElementById('favicon2');
        faviconElem.setAttribute('href',`./loonix${Math.floor(6*Math.random())+1}.svg`);
    </script>

    {{partial "meta"}}

    {{ $styles := resources.Get "css/syntax.css" | minify }} 
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    <title>Loonix | {{.Page.Title}}</title>
    {{ $styles := resources.Get "css/head.css" | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    
    <meta charset="UTF-8">
</head>
