<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Loonix is a portfolio showcasing projects and skills related to system development and technology. Explore innovative projects and connect with Arman, a passionate tech enthusiast.">
<meta name="keywords" content="Arman, Loonix, system development, technology projects, portfolio, backend development, Flutter, Python, JavaScript">
<meta name="author" content="Arman">
<meta property="og:title" content="Loonix - Portfolio of Arman">
<meta property="og:description" content="Explore Loonix, the portfolio of Arman showcasing projects and skills in system development and technology. Discover innovative solutions and connect with a passionate tech enthusiast.">
<meta property="og:image" content="https://loonix.in/loonix.jpg">
<meta property="og:url" content="https://loonix.in">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Loonix - Portfolio of Arman">
<meta name="twitter:description" content="Explore Loonix, the portfolio of Arman showcasing projects and skills in system development and technology. Discover innovative solutions and connect with a passionate tech enthusiast.">
<meta name="twitter:image" content="https://loonix.in/loonix.jpg">