<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="No balls or balls i prefer balls">
<meta name="keywords" content="Arman, Loonix, system development, technology projects, portfolio, backend development, Flutter, Python, JavaScript">
<meta name="author" content="Arman">
<meta property="og:title" content="Loonix - Portfolio">
<meta property="og:description" content="No balls or balls i prefer balls">
<meta property="og:image" content="https://loonix.in/loonix.jpg">
<meta property="og:url" content="https://loonix.in">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Loonix - Portfolio">
<meta name="twitter:description" content="No balls or balls i prefer balls">
<meta name="twitter:image" content="https://loonix.in/loonix.jpg">