{{- define "main" }}
  {{- if .Page.Title }}
  <div class="wrapper">
    <h1 class="page-title headline">{{ .Page.Title }}</h1>
  {{- else if isset .Data "Term" }}
  <h1 class="page-title">{{ humanize .Data.Term }}</h1>
  {{- end -}}
  {{ .Content }}
  
    <h3>Already Read:</h3>

  <ul class="grid-list">
    {{ range where .Pages.ByLastmod.Reverse "Params.completed" "!=" "true"   }}
        <li class="books">
          {{ partial "card" (dict "context" . "path" "img") }}
        </li>
    {{ end }} 
  </ul>

  <br>


  <h3>Still Reading :</h3>

  <ul class="grid-list">
    {{ range where .Pages.ByLastmod.Reverse "Params.completed" true }}
        <li class="books">
          {{ partial "card" (dict "context" . "path" "img") }}
        </li>
    {{ end }} 
  </ul>
  


</div>
{{- end }}